@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0px;
}

.logo img {
  width: 100px;
  height: 100px;
}

.brand {
    padding-left: 3rem;
    flex-grow: 1;
}

.brand h1 {
    font-family: "Meow Script", cursive;
    font-size: 5rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.active {
  color: lightgray;
}

@media (width <= 834px) {
  .logo img {
    width: 160px;
    height: 160px;
  }
}

@media (width <=430px) {
  .logo img {
    width: 80px;
    height: 80px;
  }
}
