@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');


.footer {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: gray;
}

.brandName {
    font-family: "Meow Script";
    font-size: 3rem;
}

.mediaLinks ul {
    display: flex;
    gap: 3rem;
}

.mediaLinks a,
.mediaLinks li {
    color: gray;
    font-size: xx-large;
    text-decoration: none;
    list-style: none;
}

.established {
    font-size: small;
}

@media (width <= 834px) {
    .mediaLinks a,
    .mediaLinks li {
        font-size: x-large;
    }
    .brandName {
        font-size: 2rem;
    }
}
