@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer {
    background-color: black;
    color: white;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.footerCols {
    display: flex;
}

.brand {
    border-bottom: 1px solid white;
    padding: 1rem;
}

.brand h1,
.brand h2,
.brand h3,
.brand h4,
.brand h5,
.brand h6 {
    font-family: "Meow Script", cursive;
}

.brand h1 span,
.brand h2 span,
.brand h3 span,
.brand h4 span,
.brand h5 span,
.brand h6 span {
    font-family: "Roboto", sans-serif;
    font-size: small;
    position: relative;
    top: -5px;
    left: -5px;
}

.brand p {
    font-size: x-small;
}

.followContactUs {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    border-right: 1px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.followLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: x-large;
}
